@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&d=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./darkbg.jpg");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Global style for all react-icons */
[class^="react-icons"],
[class*=" react-icons"] {
  cursor: pointer !important;
}

/* Make all SVGs show pointer cursor */
svg {
  cursor: pointer !important;
}

/* ::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
